<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EasyQandASite</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>getReply</display-name>
    <servlet-name>getReply</servlet-name>
    <servlet-class>info.jo32.EasyQandASite.model.getReply</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getReply</servlet-name>
    <url-pattern>/getReply</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getTopic</display-name>
    <servlet-name>getTopic</servlet-name>
    <servlet-class>info.jo32.EasyQandASite.model.getTopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getTopic</servlet-name>
    <url-pattern>/getTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>newTopic</display-name>
    <servlet-name>newTopic</servlet-name>
    <servlet-class>info.jo32.EasyQandASite.model.newTopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newTopic</servlet-name>
    <url-pattern>/newTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>replyTopic</display-name>
    <servlet-name>replyTopic</servlet-name>
    <servlet-class>info.jo32.EasyQandASite.model.replyTopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>replyTopic</servlet-name>
    <url-pattern>/replyTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signin</display-name>
    <servlet-name>signin</servlet-name>
    <servlet-class>info.jo32.EasyQandASite.model.signin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signin</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signout</display-name>
    <servlet-name>signout</servlet-name>
    <servlet-class>info.jo32.EasyQandASite.model.signout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signout</servlet-name>
    <url-pattern>/signout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signup</display-name>
    <servlet-name>signup</servlet-name>
    <servlet-class>info.jo32.EasyQandASite.model.signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signup</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Initializer</display-name>
    <servlet-name>Initializer</servlet-name>
    <servlet-class>info.jo32.EasyQandASite.persistence.Initializer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Initializer</servlet-name>
    <url-pattern>/Initializer</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>info.jo32.EasyQandASite.persistence.ConnectionDispatcher</listener-class>
  </listener>
  <context-param>
    <param-name>xmlFile</param-name>
    <param-value>WEB-INF/db.xml</param-value>
  </context-param>
  <listener>
    <listener-class>info.jo32.EasyQandASite.persistence.ProxoolListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>proxool</servlet-name>
    <servlet-class>org.logicalcobwebs.proxool.admin.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>proxool</servlet-name>
    <url-pattern>/proxool</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>adminName</param-name>
    <param-value>admin</param-value>
  </context-param>
  <context-param>
    <param-name>adminEmail</param-name>
    <param-value>jo32@jo32.info</param-value>
  </context-param>
  <context-param>
    <param-name>adminPassword</param-name>
    <param-value>test</param-value>
  </context-param>
  <context-param>
    <param-name>initializingKey</param-name>
    <param-value>thisKey</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>digg</display-name>
    <servlet-name>digg</servlet-name>
    <servlet-class>info.jo32.EasyQandASite.model.digg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>digg</servlet-name>
    <url-pattern>/digg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>edit</display-name>
    <servlet-name>edit</servlet-name>
    <servlet-class>info.jo32.EasyQandASite.model.edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>edit</servlet-name>
    <url-pattern>/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete</display-name>
    <servlet-name>delete</servlet-name>
    <servlet-class>info.jo32.EasyQandASite.model.delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editPermission</display-name>
    <servlet-name>editPermission</servlet-name>
    <servlet-class>info.jo32.EasyQandASite.model.editPermission</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editPermission</servlet-name>
    <url-pattern>/editPermission</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getEditableTopic</display-name>
    <servlet-name>getEditableTopic</servlet-name>
    <servlet-class>info.jo32.EasyQandASite.model.getEditableTopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getEditableTopic</servlet-name>
    <url-pattern>/getEditableTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewLog</display-name>
    <servlet-name>viewLog</servlet-name>
    <servlet-class>info.jo32.EasyQandASite.model.viewLog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewLog</servlet-name>
    <url-pattern>/viewLog.jsp</url-pattern>
  </servlet-mapping>
</web-app>