<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EasyQandASite</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>getReply</display-name>
    <servlet-name>getReply</servlet-name>
    <servlet-class>info.jo32.EasyQandASite.model.getReply</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getReply</servlet-name>
    <url-pattern>/getReply</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getTopic</display-name>
    <servlet-name>getTopic</servlet-name>
    <servlet-class>info.jo32.EasyQandASite.model.getTopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getTopic</servlet-name>
    <url-pattern>/getTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>newTopic</display-name>
    <servlet-name>newTopic</servlet-name>
    <servlet-class>info.jo32.EasyQandASite.model.newTopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newTopic</servlet-name>
    <url-pattern>/newTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReplyaTopic</display-name>
    <servlet-name>ReplyaTopic</servlet-name>
    <servlet-class>info.jo32.EasyQandASite.model.ReplyaTopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplyaTopic</servlet-name>
    <url-pattern>/ReplyaTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signin</display-name>
    <servlet-name>signin</servlet-name>
    <servlet-class>info.jo32.EasyQandASite.model.signin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signin</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signout</display-name>
    <servlet-name>signout</servlet-name>
    <servlet-class>info.jo32.EasyQandASite.model.signout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signout</servlet-name>
    <url-pattern>/signout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signup</display-name>
    <servlet-name>signup</servlet-name>
    <servlet-class>info.jo32.EasyQandASite.model.signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signup</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>Initializer</display-name>
    <servlet-name>Initializer</servlet-name>
    <servlet-class>info.jo32.EasyQandASite.persistence.Initializer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Initializer</servlet-name>
    <url-pattern>/Initializer</url-pattern>
  </servlet-mapping>
</web-app>